<section id="corpo">
  <div class="container-fluid text-center corpo">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Eventos - São Paulo</a>
        </div>
        <hr>
        <section id="eventos">
          <div class="container-fluid text-center eventos">
            <li routerLinkActive="active"><a routerLink="/eventos"> Eventos </a></li>
          </div>
        </section>

        <section id="casas">
          <div class="container-fluid text-center casas">
            <li routerLinkActive="active"><a routerLink="/casas"> Casas de Show </a></li>
          </div>
        </section>

        <section id="usuario">
          <div class="container-fluid text-center usuario">
            <li routerLinkActive="active"><a routerLink="/usuario"> Usuários </a></li>
          </div>
        </section>
        <hr>
      </div>
    </nav>

  </div>
</section>
