.corpo{
  font: 20px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.212) ;
}

.margin{
padding-bottom: 10px;
  padding-top: 10px;
}

.eventos{
  background-color: rgba(0, 0, 0, 0.212);
  color: rgb(151, 101, 101);
}

.detalhes{
  background-color: rgba(0, 0, 0, 0.212);
  color: rgb(151, 101, 101);
}

.compra{
  background-color: rgba(0, 0, 0, 0.212);
  color: rgb(151, 101, 101);
}
